{% extends "./blog/base.html" %}
{% block title%} <title>关于</title>{% endblock %}
{% block keywords%}
<meta name="keywords" content="关于我">
{% endblock%}
{% block description%}
<meta name="description" content="关于我"/>
{% endblock %}
{% block main%}
<div class="row">
    <div id="vmaig-content" class="col-md-10 col-lg-12">
        <div id="me" class="well clearfix">
            <h1>关于我<h1>
               <p><font size="4px" color="blue">
               目前在自学编程！
                </font></p>
        </div>
    </div>
</div>

{% endblock %}
