{% extends "./blog/base.html" %}
{% block title%} <title>python学习资源</title>{% endblock %}
{% block keywords%}
<meta name="keywords" content="学习资料,java,python">
{% endblock%}
{% block description%}
<meta name="description" content="python方面的资料"/>
{% endblock %}
{% block main%}
<div class="row">
    <div id="vmaig-content" class="col-md-10 col-lg-12">
        <div id="me" class="well clearfix">
            <h1>Python<h1>
               <p><font size="4px" color="blue">
               pyhon灰帽编程
                </font></p>
                <p><font size="4px" color="blue">
               python基础教程(全21集)
                </font></p>
                <p><font size="4px" color="blue">
                《Python Cookbook》第三版中文
                </font></p>
                <p><font size="4px" color="blue">
                python核心编程中文版（第二版）
                </font></p>
                <p><font size="4px" color="blue">
                 Python开发技术详解
                </font></p>
                <p><font size="4px" color="blue">
                 Python源码剖析（完整版）
                </font></p>
               
              
        </div>
    </div>
</div>

{% endblock %}
